{% extends "shop/layout.html" %}
{%  load humanize %}

{%  block content %}
<body>

    <form action="" method="GET">
        <input type="text" name="q" value="{{ q }}"/>
        <input type="submit" value="검색"/>
    </form>

    <ul>
    {% for item in item_list %}
        <li>
            <a href="/shop/{{ item.pk }}/">
                {{ item.name }}
            </a>
            {{ item.price }}

            {% if item.desc %}
            <p>{{ item.desc }}</p>
            {% endif %}
        </li>
    {% endfor %}
    </ul>

</body>
{%  endblock %}


